.header {
  width: 800px;
  border-inline: auto;
}
.fabulous {
  text-align: center;
  margin-top: 15px;
  padding: 5px;
  background-color: #fbfdd6ec;
}
.body {
  text-align: center;
}
.card-2 {
  margin-top: 15px;
  padding: 133px;
  text-align: center;
}
.feature {
  text-align: start;
  font-family: "Times New Roman", Times, serif;
}

.feature {
  color: rgb(148, 30, 30);
  margin-top: 20px;
  border-left: 2px solid #ffe39f;
}
.fresh {
  color: rgb(49, 103, 107);
  text-align: unset;
}

.focaccia1 {
  border-radius: 10px;
  color: rgb(215, 213, 213);
}
.ingredients {
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
}
.sally {
  color: rgb(195, 191, 191);
}
